In [1]:
from xml2csv import xml2csv
from displaycsv import displaycsv

In [2]:
xml2csv("/home/mahendra/Downloads/cvat_anotated/annotations.xml")

    frameno    left     top   right  bottom
0        66  867.37  108.07  879.71  119.95
1        67  868.19  110.42  880.53  122.30
2        68  869.00  112.77  881.34  124.65
3        69  869.82  115.13  882.16  127.00
4        70  870.63  117.48  882.97  129.35
..      ...     ...     ...     ...     ...
74      140  961.14  362.73  977.59  379.50
75      141  962.92  367.93  979.37  384.70
76      142  964.69  373.14  981.14  389.90
77      143  966.46  378.34  982.91  395.10
78      144  966.46  378.34  982.91  395.10

[79 rows x 5 columns]

In [3]:
displaycsv("/home/mahendra/Downloads/","/home/mahendra/Downloads/frames/")